
# S3 / MinIO Storage Configuration
MINIO_ENDPOINT=http://lakehouse-minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_secure_minio_password
MINIO_DEFAULT_BUCKETS=lakehouse


# PostgreSQL Data Marts (Gold Layer)
POSTGRES_HOST=lakehouse_postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_postgres_password
POSTGRES_DB=tiki_mart

# Apache Airflow Configuration
AIRFLOW_IMAGE_NAME=apache/airflow:2.8.1-python3.10
AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__FERNET_KEY=your_generated_fernet_key
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:your_secure_postgres_password@lakehouse_postgres:5432/airflow

# Metabase BI Engine
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase_db
MB_DB_PORT=5432
MB_DB_USER=postgres
MB_DB_PASS=your_secure_postgres_password
MB_DB_HOST=lakehouse_postgres